section{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.linkNav {
  padding: 20px;
}
.textMain {
  display: flex;
  align-items: center;
  justify-content:space-around;
  font-size: x-large;
  font-family: "Times New Roman", Times, serif;
  padding-inline: 100px;
  display: grid;
  grid-template-columns: 0.5fr 1fr; /* 2 colunas de tamanho igual */

}
.gifSection img {
  border-radius: 50%; /* Para arredondar completamente */
}
.gifSection img {
  border-radius: 20px; /* Bordas levemente arredondadas */
}
.gifSection {
  border-radius: 20px;
  gap: 20%;

}